:root {
  --primary-color: #4263eb;
  --second-color: #364fc7;
  --dark-color: #343a40;
  --gray-color: #adb5bd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: medium;
}

h1 {
  font-size: x-large;
  font-weight: 700;
  color: var(--second-color);
  padding-left: 10px;
}

h2 {
  font-size: larger;
  font-weight: 700;
}

h3 {
  font-size: large;
  font-weight: 700;
}

p {
  font-size: small;
  font-weight: 300;
}

.row > * {
  padding-left: 0;
  padding-right: 0;
}

/* -------------------Phần Goals--------------------------- */
.goals-items-all .item {
  display: grid;
  grid-template-columns: 30px 1fr;
  padding: 10px 30px;
  margin-left: 10px;
  margin-right: 10px;
  border-top: 1px solid var(--gray-color);
}

.goals-items-all .item:first-child {
  border-top: 1px solid var(--dark-color);
}

.goals {
  border-top: 10px solid var(--primary-color);
  border-right: 6px solid var(--primary-color);
  border-bottom: 6px solid var(--primary-color);
  border-left: 10px solid var(--primary-color);
  height: 460px;
}

/* --------------------------------Phần Scopes--------------------------- */
.scopes {
  border-left: 10px solid var(--primary-color);
  border-bottom: 10px solid var(--primary-color);
  border-right: 6px solid var(--primary-color);
  height: 300px;
}

.scopes .row {
  margin-left: 10px;
  margin-right: 10px;
  padding: 15px;
  border-top: 1px solid var(--dark-color);
}

/* -----------------------------Phần Team------------------------- */
.team-item {
  display: grid;
  grid-template-columns: 30px 1fr;
  padding: 10px 0 0 15px;
}

.team {
  border-top: 10px solid var(--primary-color);
  border-bottom: 6px solid var(--primary-color);
  padding-left: 45px;
  height: 460px;
}

.team h1 {
  padding-left: 0;
}

.team-all {
  border-top: 1px solid var(--dark-color);
  margin-right: 10px;
}

/* -------------------------Phần Primary---------------------- */
.primary {
  padding-left: 45px;
  border-bottom: 10px solid var(--primary-color);
  height: 300px;
}

.primary h1 {
  padding-left: 0;
}

.primary-item {
  display: grid;
  grid-template-columns: 30px 1fr;
  padding: 10px 2px 0 15px;
}

.primary-all {
  border-top: 1px solid var(--dark-color);
  margin-right: 10px;
}

/* -----------------------------Phần Timeline------------------------- */
.timeline {
  padding-left: 10px;
  border-left: 6px solid var(--primary-color);
  border-top: 10px solid var(--primary-color);
  border-right: 10px solid var(--primary-color);
  border-bottom: 10px solid var(--primary-color);

  height: 760px;
}

.timeline h1 {
  padding-left: 0;
}

.timeline-all {
  border-top: 1px solid var(--dark-color);
  margin-right: 10px;
}

.timeline-item {
  display: grid;
  grid-template-columns: 30px 1fr;
  padding: 10px 0 0 15px;
  gap: 30px;
}

.timeline-item-right {
  border-bottom: 1px solid var(--gray-color);
}

.timeline-item-left {
  background-color: violet;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: 1px solid var(--dark-color);
  border-radius: 50%;
}

/* ------------------------Footer----------------------------- */
footer a {
  text-decoration: none;
  color: var(--dark-color);
}

/* ----------------------Responsive------------------------ */
/* Tablet */
@media only screen and (max-width: 768px) {
  /* Goals */
  .goals-items-all .item {
    grid-template-columns: auto;
  }

  .goals-items-all .item-left {
    text-align: center;
  }

  .goals-items-all .item-right {
    margin-left: 0 !important;
  }

  .goals {
    border-right: 10px solid var(--primary-color);
  }

  /* Scopes */
  .scopes {
    border-right: 10px solid var(--primary-color);
    border-bottom: 6px solid var(--primary-color);
  }

  /* Team */
  .team {
    border-top: none;
    border-left: 10px solid var(--primary-color);
    border-right: 10px solid var(--primary-color);
    padding-left: 10px;
    height: auto;
  }

  .team-item {
    grid-template-columns: auto;
  }

  .team-item-left {
    text-align: center;
  }

  /* Primary */
  .primary {
    border-left: 10px solid var(--primary-color);
    border-right: 10px solid var(--primary-color);
    padding-left: 10px;
    height: auto;
  }

  .primary-item {
    grid-template-columns: auto;
  }

  .primary-item-left {
    text-align: center;
  }

  /* Timeline */
  .timeline {
    border-top: none;
    border-left: 10px solid var(--primary-color);
    height: auto;
  }

  .timeline-item {
    grid-template-columns: auto;
    gap: 5px;
  }
}

/* Mobile */
@media screen and (max-width: 576px) {
  .row {
    margin: 0;
  }
}
